
body{
  margin: 0;
  margin-top: 40px;
  font-family: Helvetica Neue, Helvetica, Roboto, sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #e2e9ec;
}

a{
  display: block;
}

.card{
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.1);
  color: #494986;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  padding: 30px 2px 50px 2px;
  background-color: #fff;
  border-radius: 12px;
  width: 380px;
  height: auto;
  display: inline-block;
}

.card:hover{
  -webkit-box-shadow: 0px 12px 30px -10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 12px 30px -10px rgba(0,0,0,0.2);
  box-shadow: 0px 12px 30px -10px rgba(0,0,0,0.2);
  padding: 29px 1px 49px 1px;
  border: 1px dashed #ddd;
  color:#333;
  background-color: #fefefe;
}

.card:active{
  background-color: #eee;
  color: #333;
}

.max720{
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #fff;
  width: 750px;
  padding: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

p{
  --x-height-multiplier: 0.35;
  --baseline-multiplier: 0.179;
  font-family: Helvetica, Roboto, sans-serif;
  letter-spacing: .005rem;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -.01em;
}

b{
  font-size: 18px;
  line-height: 1.8;
}

.subject{
  text-align: center;
}
.footer {
  width: auto;
  color: #333;
  height: auto;
  position: relative;
  bottom: 0;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px; }

  .heart {
  display: inline;
  font-size: 14px;
  color: #f33; }

  .footerlink {
  display: inline;
  text-decoration: none;
  color: #333; }

/* MOBILE RULES */
@media only screen and (max-width: 768px) {

  .max720{
    margin: 2px;
    width: auto;
    margin-top: -40px;
    padding: 20px;
    border-radius: 0;
  }

  .card{
    width: 90vw;
    height: auto;
    padding: 2px 2px 32px 2px;
  }

  .card:hover{
    padding: 1px 1px 31px 1px;
  }
}
